@page "/StandardNonogram/{id:int}"
@using NonoBlazor.Shared
@inject HttpClient client

<div id="wrapper">
    @if (Nonogram == null && BadRequest == false)
    {
        <p>Loading...</p>
    }
    else if (BadRequest == true)
    {
        <p>Bad Request <a href="/">Go Back</a></p>
    }
    else
    {
        <h1>Puzzle #@Nonogram.ID</h1>

        <p>ID: @Nonogram.ID</p>
        <p>Width: @Nonogram.Width</p>
        <p>Height: @Nonogram.Height</p>
        <p>RowValues</p>
        <ul>
            @foreach (var v in Nonogram.RowValues)
            {
                <li>@string.Join(",", v)</li>
            }
        </ul>
        <p>ColumnValues</p>
        <ul>
            @foreach (var v in Nonogram.ColumnValues)
            {
                <li>@string.Join(",", v)</li>
            }
        </ul>
    }
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    public StandardNonogram Nonogram { get; set; }

    public bool BadRequest { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Nonogram = await client.GetFromJsonAsync<StandardNonogram>($"api/StandardNonogram/{Id}");

        if(Nonogram == null)
        {
            BadRequest = true;
        }
    }
}
