@page "/StandardNonogram/{id:int}"
@using NonoBlazor.Shared
@inject HttpClient client

<div id="wrapper">
    <h1>Your chosen Nonogram is...</h1>

    @if (Nonogram == null)
    {
        <p>Nonogram not found.</p>
    }
    else
    {
        <p>ID: @Nonogram.ID</p>
        <p>Width: @Nonogram.Width</p>
        <p>Height: @Nonogram.Height</p>
        <p>RowValues: @Nonogram.RowValues</p>
        <p>ColumnValues: @Nonogram.ColumnValues</p>
    }
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    public StandardNonogram Nonogram { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Nonogram = await client.GetFromJsonAsync<StandardNonogram>($"api/StandardNonogram/{Id}");
    }


}
